@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a202c; /* gray-800 */
}

/* For custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* gray-800 */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* gray-600 */
  border-radius: 10px;
  border: 2px solid #2d3748; /* gray-800 */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* gray-500 */
}
